{% extends 'base.html' %}

{% block title %}D3 Test{% endblock %}

{% block content %}
<script src=" https://cdn.jsdelivr.net/npm/d3@7.9.0/dist/d3.min.js "></script>
{% load static %}

<style type="text/css">
    .bgimg {
        background-image: url("{% static 'maps/Overpass.png' %}");
        background-size: contain;
        background-repeat: no-repeat;
    }
    </style>

<div class="bgimg" width="600" height="600">
<svg id="minimap" class="minimap" width="600" height="600" >
</svg>
</div>
<input id="progressBar" type="range" value="0" min="0" max="100">

<script src="{% static 'minimap.js' %}"></script>

{% endblock %}

