{% extends "base.html" %}

{% block title %}Dashboard - CS Strategy Platform{% endblock %}

{% block content %}
<div class="container mt-4">
    <header>
        <h1 class="text-light">Welcome, {{ user.username }}!</h1>
    </header>

    <section id="user-info" class="mt-4 bg-dark text-light rounded p-3">
        <h2>Your Teams</h2>
        <ul class="list-group list-group-flush">
            {% for team in teams %}
            <li class="list-group-item bg-dark text-light">
                <a href="{% url 'team_comms' team.id %}" class="text-light">{{ team.name }}</a>
            </li>
            {% empty %}
            <li class="list-group-item bg-dark text-light">You are not part of any teams yet.</li>
            {% endfor %}
        </ul>
    </section>

    <section id="recent-series" class="mt-4 bg-dark text-light rounded p-3">
        <h2>Recent Series</h2>
        {% include 'series_cards.html' with series=series %}
    </section>

    



    
</div>
{% endblock %}
