{% extends 'base.html' %}

{% block title %} Cs Strategy Platform {% endblock %}

{% block content %}


    <section class="main-section" id="home">
        <div class="container">
            <h1 class="display-4">CS Strategy Platform</h1>
            <p class="lead">Collaborate, Analyze, and Strategize to Take Your Team to the Next Level</p>
            <a class="btn btn-primary btn-lg" href="{% url 'stratPage' %}">Create A Strategy</a>
             
        </div>
    </section>

    <section id="features" class="py-5">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="feature-card card mb-4 shadow-sm">
                        <div class="card-body">
                            <i class="feature-icon bi bi-file-earmark-arrow-up"></i>
                            <h5 class="card-title mt-3">Demo Upload & Review</h5>
                            <p class="card-text">Upload match demos, annotate key moments, and review with real-time
                                playback.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-card card mb-4 shadow-sm">
                        <div class="card-body">
                            <i class="feature-icon bi bi-map"></i>
                            <h5 class="card-title mt-3">Interactive Strategy Board</h5>
                            <p class="card-text">Plan tactics with a digital whiteboard, create scenarios, and
                                collaborate.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-card card mb-4 shadow-sm">
                        <div class="card-body">
                            <i class="feature-icon bi bi-chat-dots"></i>
                            <h5 class="card-title mt-3">Team Communication</h5>
                            <p class="card-text">Discuss strategies, provide feedback, and hold virtual team meetings
                                within the platform.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5 dark-mode-section text-center">
        <div class="container">

            <a href="{% url 'signup' %}" class="btn btn-primary btn-lg">Sign Up Now</a>
            <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Log In </a>
        </div>
    </section>

    {% endblock %}