{% extends 'base.html' %}

{% block title %}Match Overview{% endblock %}
{% load custom_filters %}
{% load static %}

{% block content %}
<div class="container my-4">
    <div class="row">
        <div class="col text-center">
            <h2>{{ match.team_a.name }} vs {{ match.team_b.name }}</h2>
            <h4>{{ match.map }}</h4>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h5 class="text-center">{{ match.team_a.name }} Player Stats</h5>
            <div class="card-group ">
                {% for stat in team_a_stats %}
                <div class="card">
                    <img src="{% static stat.player.image_url %}" class="card-img-top"
                        alt="Profile image of {{ stat.player.nick_name }}">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ stat.player.nick_name }}</h5>
                        <p class="card-text">Rating: {{ stat.rating|floatformat:2 }}</p>
                        <p class="card-text">ADR: {{ stat.adr|floatformat:2 }}</p>
                        <p class="card-text">KAST: {{ stat.kast|floatformat:2 }}</p>
                    </div>
                    <a href="{% url 'player_detail' stat.player.steam_id %}"
                        class="btn btn-primary btn-sm mt-2 w-100">View Details</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h5 class="text-center">{{ match.team_b.name }} Player Stats</h5>
            <div class="card-group ">
                {% for stat in team_b_stats %}
                <div class="card">
                    <img src="{% static stat.player.image_url %}" class="card-img-top"
                        alt="Profile image of {{ stat.player.nick_name }}">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ stat.player.nick_name }}</h5>
                        <p class="card-text">Rating: {{ stat.rating|floatformat:2 }}</p>
                        <p class="card-text">ADR: {{ stat.adr|floatformat:2 }}</p>
                        <p class="card-text">KAST: {{ stat.kast|floatformat:2 }}</p>
                    </div>
                    <a href="{% url 'player_detail' stat.player.steam_id %}"
                        class="btn btn-primary btn-sm mt-2 w-100">View Details</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h5 class="text-center">Rounds</h5>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Round</th>
                        <th>Winning Team</th>
                        <th>End Reason</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for round in rounds %}
                    <tr>
                        <td>Round {{ round.round_num }}</td>
                        <td>{{ round.winningTeam.name }}</td>
                        <td>{{ round_end_reasons|dict_key:round.roundEndReason }}</td>
                        <td> print((typeround.roundEndReason))
                            <a href="#" class="btn btn-primary btn-sm">View Details</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
