{% extends "base.html" %}

{% block title %}Dashboard - CS Strategy Platform{% endblock %}

{% block content %}

<script src=" https://cdn.jsdelivr.net/npm/d3@7.9.0/dist/d3.min.js "></script>
{% load static %}



<div class="container mt-4">

    <a class="btn btn-primary" href="/match/{{round.match_id.id}}">Back to Match</a>
    
    <section id="user-info" class="mt-4 bg-dark text-light rounded p-3">
        

        <div class="row align-items-top">
            <div class="col-sm align-items-center" width="800">
                <div class="bgimg" width="800" height="800">
                    <div id="map-container" width="800" height="800">
                        <svg id="minimap" class="minimap" width="800" height="800"></svg>
                        <canvas id="map-canvas" width="800" height="800"></canvas>

                    </div>


                </div>
                <div class="row align-items-center">
                    <div class="col-sm"><button id="playButton" class="btn btn-primary float-start">Pause</button></div>
                    
                   <div class="col-sm"> <input id="progressBar"  type="range" value="0" min="0" max="100"></div>
                   <div class="col-sm"></div>
                </div>
            </div>
            <div class="col-sm mt-4">
                <div class="row">
                    <div class="col">
                        {% if round.id > rounds.first.id %}
                        <a class="btn btn-primary float-start" href="/round/{{round.id|add:-1}}">Prev Round</a>
                        {%endif %}
                    </div>
        
                    <div class="col">
                    {% if round.id < rounds.last.id %} <a class="btn btn-primary float-end" href="/round/{{round.id|add:1}}">
                        Next Round</a>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col text-center">
                        <h2>Round {{ round.round_num }} won by {{ round.winningTeam.clanName }}</h2>
                        <h4>{{ round.roundEndReason }}</h4>
                    </div>
                </div>

                <ul id="killFeed" class="list-group">
                    {% for kill in kills %}
                    <button class="list-group-item list-group-item-action timestampComment bg-dark text-white" id="{{kill.tick}}">
            
                        <strong>{{kill.round_time}}</strong> : {{kill.attacker_ID}}
                        {% if kill.assister_ID %}
                        + {{kill.assister_ID}}
                        {% endif %}
                        killed {{kill.victim_ID}} with {{kill.weapon}}
            
                    </button>
                    {% endfor %}
                </ul>

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Overlay Strategy
                    </button>
                    <ul class="dropdown-menu">
                        {% for strat in strategies %}
                      <li><button class="dropdown-item strategy-btn" value="{{strat.id}}">{{strat.name}}</button></li>
                      {% endfor %}
                    </ul>
                  </div>
            
            </div>
        </div>


    </section>
</div>



<div class="container mt-4">
    <h4>Comments</h4>
    {% include 'comments.html' with comments=comments %}
</div>

<script type="text/javascript">
    console.log('Round ID ' + '{{ round.id }}');
    var round_id = '{{ round.id }}';
    var map = '{{map}}';
</script>

<script src="{% static 'fabric.js' %}"></script>
<script src="{% static 'fabricUtils.js' %}"></script>
<script src="{% static 'minimap.js' %}"></script>


<style type="text/css">
    .bgimg {
        background-image: url("{% static mapUrl %}");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .highlight {
        border: 2px solid yellow;
        background-color: #ffffdd;
    }

    .comment {
        border-radius: 5px;
        padding: 10px;
        background-color: #2e2d2d;
        color: #ffffff;
        margin-bottom: 10px;
    }

    .comment strong {
        color: #ffd900;
    }

    .form-section {
        border-radius: 5px;
        padding: 20px;
        background-color: #3b3b3b;
        color: #ffffff;
        margin-top: 20px;
    }

    .form-control {
        border-radius: 0.25rem;
    }

    #map-container {
      position: relative;
      width: 800px;
      height: 800px;
    }

    /* to get the d3 animations to play over fabric canvas, had to set absolute positions with z +1 for svg elements*/
    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1; /* SVG below canvas */
    }

    /* Position the Fabric.js canvas on top of SVG */
    canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0; /* Canvas above SVG */
    }

    


    
</style>
{% endblock %}