{% extends 'base.html' %}
{% load static %}
{% block title %} Strategies {% endblock %}

{% block content %}

<div class="container">
<div class="card mb-4 bg-dark text-white">
    <div class="card-header">
        Saved Strategies
    </div>
    <a href="{% url 'create_strategy' %}" class="btn btn-sm btn-primary ml-2">Create New Strategy
    </a>
    <div class="card-body">
        <ul class="list-group">
            {% for strategy in strategies %}
            <li class="list-group-item bg-dark text-white">
                <strong>{{ strategy.name }}</strong>: {{ strategy.description }}
                <a href="{% url 'strategy' strategy.id %}" class="btn btn-sm btn-primary ml-2">View Details</a>

            </li>
            {% empty %}
            <li class="list-group-item bg-dark text-white">
                No saved strategies available.
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
</div>

{% endblock %}