{% extends 'base.html' %}
{% load static %}

{% block title %}{{ team.name }} - Team Details{% endblock %}

{% block content %}
<div class="container my-4">
    <div class="d-flex align-items-center mb-4">

        <img src="{% static team.team_img_url %}" alt="{{ team.name }} Logo" class="team-logo mr-3" />

        <h1 class="text-center mb-0">{{ team.name }}</h1>
    </div>

    {% include 'player_cards.html' with team=team %}



    <section id="recent-matches" class="mt-4">
        <h2 class="text-center">Recent Series</h2>
        {% include 'match_cards.html' with series=series %}

    </section>

</div>

<style>
    .team-logo {
        width: 80px;
        height: auto;
        background-color: transparent;
        border: none;
    }

    .d-flex {
        display: flex;
        align-items: center;
    }

    .team-logo {
        margin-right: 15px;
    }

</style>
{% endblock %}