{% load static %}


<div class="row justify-content-center">
    <div class="card-group justify-content-center">
    {% for s in series%}
    {% for match in s.matches %}
    <div class="col-5 col-md-3 col-lg-2 mb-3 text-center">
        <div class="card player-card bg-dark text-light">

            <div class="card-body text-center">
                <h5 class="card-title">{{ match.match.map }}</h5>
                <ul class="list-group list-group-flush">
                    
                    <li class="list-group-item bg-dark text-light">{{ match.match.team_a_lineup.clanName }} ({{ match.team_a_wins }})
                    </li>
                    <li class="list-group-item bg-dark text-light">{{ match.match.team_b_lineup.clanName }} ({{ match.team_b_wins }})
                    </li>
                </ul>
                <a href="{% url 'match_detail' match.match.id %}" class="btn btn-primary mt-3">View Details</a>
            </div>
        </div>
    </div>
    {% endfor %}

    {% endfor %}
</div>
</div>


