
<div class="list-group">
<div id="comment-{{ reply.id }}" class="ml-4 list-group-item bg-dark text-white">
    <strong id="comment-user">{{ reply.author.username }} replied</strong>
    <div class="float-end">
        <div class="btn-group float-end">
        <button class="btn btn-primary reply-button"
            data-commentId="{{ reply.id }}">Reply</button>
        </div>
    </div>
    <p id="comment-text">{{ reply.text }}</p>
    <small class="timestamp">{{ reply.created_time }}</small>
    <small>
        {% if reply.tagged_players.all %}
            tagged: 
            {% for player in reply.tagged_players.all %}
                [{{ player }}] 
            {% endfor %}
        {% endif %}
    </small>
    <small class="float-end">
        {% if reply.acknowledgements.all %}
        acknowledged:
        {% for player in reply.acknowledgements.all %}
        [{{ player }}]
        {% endfor %}
        {% endif %}
        
         </small>
    
    {% if reply.replies.all %}
    {% for r in reply.replies.all %}
        {% include 'replies.html' with reply=r %}
    {% endfor %}
{% endif %}

</div>


</div>

